<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Szezonkezelő központ</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/users">Csapatok</button>
  <button mat-button routerLink="/users">Versenyzők</button>
  <button mat-button routerLink="/users">Pályák</button>
  <button mat-button routerLink="/users">Versenyek</button>
  <button mat-button routerLink="/users">Pontverseny</button>
</mat-toolbar>
