<div class="container">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    "
  >
    <h1 style="margin: 0">Manage Tasks</h1>

    <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search tasks..."
        #input
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openFormDialog()">
      <mat-icon>add</mat-icon> Add Task
    </button>
  </div>

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Nr Column -->
    <ng-container matColumnDef="nr">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let task; let i = index">{{ i + 1 }}.</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let task">{{ task.title }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let task">{{ task.description }}</td>
    </ng-container>

    <!-- Completed Column -->
    <ng-container matColumnDef="completed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Completed</th>
      <td mat-cell *matCellDef="let task">
        @if (task.completed) {
          <mat-icon color="primary">check_circle</mat-icon>
        } @else {
          <mat-icon color="warn">cancel</mat-icon>
        }
      </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>Assigned to</th>
      <td mat-cell *matCellDef="let task">
        {{ task.user?.name || "Unassigned" }}
      </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-end">Actions</th>
      <td mat-cell *matCellDef="let task" class="text-end">
        <button mat-icon-button color="primary" (click)="openFormDialog(task)">
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          (click)="openDeleteDialog(task.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of tasks"
  >
  </mat-paginator>
</div>
